
html, body
{
  height: 100%;
}
body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
}


select {
  display: block;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 14px 0;
  left: 0;
  top: 0;
  right: 0;
  /*transition: all 0.5s;*/
  z-index: 997;
  background: rgba(0, 0, 0, 0.8);
}



header .topnav .navlink
{
  padding: 3px 8px;
  margin: 5px 10px;
  transition: all 0.5s;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #e4b22d;
  border-radius: 3px;
  background-color: #e4b22d;
}


.guest-form 
{
  text-align: center;
  border: 2px solid grey;
  padding: 20px;
}
.guest-form button
{
  color: black !important;
}

